<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Player Deleted</title>
	<link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>Player Deleted</h1>
  <p>This player has been deleted.</p>
  <p><label>Name: </label> {{name}}</p>
  <p>
    <a href="/players">See all players</a>
  </p>
</body>
</html>